<p id="notice"><%= notice %></p>

<h1>Listing Movies</h1>
<%= @test %>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <%= form_tag(query_path, method: "get") do %>
    <%= label_tag(:user_input, "Search for a movie")%>
    <%= text_field_tag(:user_input) %>
    <%= hidden_field_tag(:time, @time) %>
    <%= submit_tag("Search") %>
  <% end %>
  <br>
  <tbody>
   <%= @local_pivot %>

    <% if (@query != nil) %>
      <tr>
        <td><strong><%= link_to "Title", sort_path(:sort => "1", :q => @input, :pivot => @lpivot) %></strong></td>
        <td><strong><%= link_to "Release", sort_path(:sort => "2", :q => @input, :piovt => @lpivot) %></strong></td>
        <td><strong><%= link_to "Genre", sort_path(:sort => "3", :q => @input, :pivot => @lpivot) %></strong></td>
      </tr>
    
      <% @query.each do |movie| %>
        <tr>
          <td><%= link_to movie.title, static_show_path(:title => movie.title,
                                                    :overview => movie.overview,
                                                    :id => movie.id) %> </td>
          <td><%= movie.release_date%></td>
          <td>
            <% movie.genre_ids.each do |id| %>
              <%= @gValues.find {|h1| h1['id']== id }['name'] %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>

</table>

<br>


