<br>
<%= @title %>
<br><br>
<%= @overview %>
<br><br><br>

<% @rdb.each do |r| %>
	<% if (r.movieId == @id) %>
		<%= r.stars %>
	<% end %>
<% end %>

<% if user_signed_in? %>
	<%= render 'ratings/form' %>
	<br><br>
<% end %>

<table><tbody>
	<tr>
		<td>Rating</td>
		<td>Created at</td>
		<td>Created By</td>
	</tr>
	<% @rdb.each do |r| %>
		<tr>
			<% if (r.movieId.to_i == @id.to_i) %>
				<td><%= r.stars %></td>
				<td><%= r.created_at %></td>
				<td><%= @user.at(r.User_id-1).email %></td>
			<% end %>
		</tr>
	<% end %>
</tbody></table>
