<%= form_for(@mrtest) do |f| %>
  <% if @mrtest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mrtest.errors.count, "error") %> prohibited this mrtest from being saved:</h2>

      <ul>
      <% @mrtest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first %><br>
    <%= f.text_field :first %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
