<p id="notice"><%= notice %></p>

<p>
  <strong>Movieid:</strong>
  <%= @rating.movieId %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @rating.stars %>
</p>

<p>
  <strong>Date:</strong>
  <%= @rating.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @rating.User %>
</p>

<%= link_to 'Back', ratings_path %>
